[defaults]
host_key_checking = False
timeout           = 120
retry_files_enabled = False
stdout_callback   = yaml

# KYPO injects the inventory; this file is for local testing convenience.
# inventory = inventory/hosts

[ssh_connection]
pipelining = True
